*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* rgb(20, 154, 238),rgb(20, 38, 238) */
}
html,body{
    width:100%;
    height:100%;
}
.body{
    width:100%;
    height: 100%;
    background-image: linear-gradient(rgb(238, 93, 90),rgb(253, 237, 208));
}
.sun{
    position:absolute;
    top:45%;
    background-color:rgb(255, 221, 98);
    box-shadow:  -2px 3px 48px 5px rgb(174, 176, 133);
    width:125px;
    height: 125px;
    border-radius: 50%;
    animation:6s ease-in-out 1 normal forwards rise;
    position: relative;
    -webkit-box-reflect:below 10px;
    transform: rotatex(180deg) translatey(15px);
    filter: blur(1px) brightness(1.3);
}


@keyframes rise{

0%{
    translate:0% 0%;
 }

10%{
    translate:200% -22.22%;
}
20%{
    translate: 300% -44.44%; 
}
30%{
    translate:400% -66.66%;
}
40%{
    translate: 500% -88.88%;
}
45%{
    translate:550% -100%;
}
50%{
    translate:600% -111.11%;
}
55%{
    translate:700% -100%;
}
60%{
    translate:800% -88.88%;
}
70%{
    translate:900% -66.66%;
}
80%{
    translate:1000% -44.44%;
}
90%{
    translate:1100% -22.22%;
}
100%{
    translate:1150% -0%;
}   
}